{% extends "new/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="url(/new/img/ok1.jpg);">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://chat2desk.com/" class="simple-text">
                    Chat2Desk
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="pe-7s-graph"></i>
                        <p>{% trans 'Dashboard' %}</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'all-users' %}">
                        <i class="pe-7s-user"></i>
                        <p>{% trans 'All Users' %}</p>
                    </a>
                </li>
				<li>
                    <a href="{% url 'ru' %}">
                        <i class="pe-7s-note2"></i>
                        <p>RU</p>
                    </a>
                </li>
				<li>
                    <a href="{% url 'euro' %}">
                        <i class="pe-7s-note2"></i>
                        <p>EURO</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'free' %}">
                        <i class="pe-7s-news-paper"></i>
                        <p>{% trans 'Free' %}</p>
                    </a>
                </li>

                <li>
                    <a href="{% url 'notifications' %}">
                        <i class="pe-7s-bell"></i>
                        <p>{% trans 'Notifications' %}</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
    {% endblock %}
{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users List</h4>

                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th>Operator ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Department</th>
                                    <th>Telegram</th>
                                    </thead>
                                    <tbody>
                                    {% for user in allusers %}
                                    <tr class='table table-striped'>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role }}</td>
                                        <td>{{ user.department }}</td>
                                        <td>
                                            <button type="button" class="btn btn-info">
                                                <a href="https://tlgg.ru/{{ user.tg_user }}">{{ user.tg_user }}
                                            </button>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}