{% extends "new/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="url(/new/img/ok1.jpg);">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://chat2desk.com/" class="simple-text">
                    Chat2Desk
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{% url 'dashboard' %}">
                        <i class="pe-7s-graph"></i>
                        <p>{% trans 'Dashboard' %}</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'all-users' %}">
                        <i class="pe-7s-user"></i>
                        <p>{% trans 'All Users' %}</p>
                    </a>
                </li>
				<li>
                    <a href="{% url 'ru' %}">
                        <i class="pe-7s-note2"></i>
                        <p>RU</p>
                    </a>
                </li>
				<li>
                    <a href="{% url 'euro' %}">
                        <i class="pe-7s-note2"></i>
                        <p>EURO</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'free' %}">
                        <i class="pe-7s-news-paper"></i>
                        <p>{% trans 'Free' %}</p>
                    </a>
                </li>

                <li>
                    <a href="{% url 'notifications' %}">
                        <i class="pe-7s-bell"></i>
                        <p>{% trans 'Notifications' %}</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
    {% endblock %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">BS Statistics</h4>
                                <p class="category">Last Campaign Performance</p>
                            </div>
                            <div class="content">
                                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Free
                                        <i class="fa fa-circle text-danger"></i> Buzy
                                        <i class="fa fa-circle text-warning"></i> Unknown
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users Behavior</h4>
                                <p class="category">24 Hours performance</p>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"></div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Click
                                        <i class="fa fa-circle text-warning"></i> Click Second Time
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">2014 Sales</h4>
                                <p class="category">All products including Taxes</p>
                            </div>
                            <div class="content">
                                <div id="chartActivity" class="ct-chart"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Tesla Model S
                                        <i class="fa fa-circle text-danger"></i> BMW 5 Series
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Clicker Statistics</h4>
                                <p class="category">Last Campaign Performance</p>
                            </div>
                            <div class="content">
                                <div id="chartPreferences2" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Free
                                        <i class="fa fa-circle text-danger"></i> Buzy
                                        <i class="fa fa-circle text-warning"></i> Unknown
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                                

                </div>
            </div>
        </div>

    {% endblock %}

