{% extends "new/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}


<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="url(/new/img/ok1.jpg);">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://chat2desk.com/" class="simple-text">
                    Chat2Desk
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'all-users' %}">
                        <i class="pe-7s-user"></i>
                        <p>All Users</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'ru' %}">
                        <i class="pe-7s-note2"></i>
                        <p>RU</p>
                    </a>
                </li>
				<li>
                    <a href="{% url 'euro' %}">
                        <i class="pe-7s-note2"></i>
                        <p>EURO</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'free' %}">
                        <i class="pe-7s-news-paper"></i>
                        <p>Free</p>
                    </a>
                </li>
				
            </ul>
    	</div>
    </div>
    {% endblock %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Free BS</h4>

                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th class="th-lg">ID</th>
                                        <th class="th-lg"></th>
                                        <th class="th-lg"></th>
                                    	<th class="th-lg">BlueStacks</th>
                                        <th class="th-lg">Status</th>
                                        <th class="th-lg"></th>
                                    </thead>
                                    <tbody>
                                    {% for ru in bs.object_list %}
                                    <tr class='table table-striped'>
                                        <td>{{ ru.id }}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ ru.session }}</td>
                                        <td>{{ ru.status }}</td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pagination pull-right">
                                <span class="step-links">
                                    {% if bs.page_obj.has_previous %}
                                        <a href="?page={{ bs.page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ bs.page_obj.number }} of {{ bs.page_obj.paginator.num_pages }}
                                    </span>

                                    {% if bs.page_obj.has_next %}
                                        <a href="?page={{ bs.page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Free Clickers</h4>

                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th class="th-lg">ID</th>
                                        <th class="th-lg"></th>
                                    	<th class="th-lg">Clicker</th>
                                        <th class="th-lg">Status</th>
                                    </thead>
                                    <tbody>
                                    {% for ru in clicker.object_list %}
                                    <tr class='table table-striped'>
                                        <td>{{ ru.id }}</td>
                                        <td></td>
                                        <td>{{ ru.session }}</td>
                                        <td>{{ ru.status }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pagination pull-right">
                                <span class="step-links">
                                    {% if clicker.page_obj.has_previous %}
                                        <a href="?page={{ clicker.page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ clicker.page_obj.number }} of {{ clicker.page_obj.paginator.num_pages }}
                                    </span>

                                    {% if clicker.page_obj.has_next %}
                                        <a href="?page={{ clicker.page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        {% endblock %}
