{% extends "new/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="assets/img/ok1.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://chat2desk.com/" class="simple-text">
                    Chat2Desk
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'all-users' %}">
                        <i class="pe-7s-user"></i>
                        <p>All Users</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'ru' %}">
                        <i class="pe-7s-note2"></i>
                        <p>RU</p>
                    </a>
                </li>
				
				<li class="active">
                    <a href="{% url 'euro' %}">
                        <i class="pe-7s-note2"></i>
                        <p>EURO</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'free' %}">
                        <i class="pe-7s-news-paper"></i>
                        <p>Free</p>
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'notifications' %}">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>
    {% endblock %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Whatsapp</h4>
                                <p class="category">Devices in OFFLINE and LOST REGISTRATION statuses are displayed here</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Device ID</th>
                                    	<th>Phone</th>
                                    	<th>Clicker</th>
                                    	<th>BS</th>
                                        <th>Status</th>
                                    	<th>Email</th>
										<th>Company ID</th>
										<th>Partner ID</th>
                                    </thead>
                                    <tbody>
                                    {% for w in wa.object_list %}
                                    <tr class='table table-striped'>
                                        <td>{{ w.device_id }}</td>
                                        <td>{{ w.phone }}</td>
                                        <td>{{ w.key }}</td>
                                        <td>{{ w.equipment_code }}</td>
                                        <td>{{ w.stable_status }}</td>
                                        <td>{{ w.email }}</td>
                                        <td>{{ w.company_id }}</td>
                                        <td>{{ w.partner_id }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pagination pull-right">
                                <span class="step-links">
                                    {% if wa.page_obj.has_previous %}
                                        <a href="?page={{ wa.page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ wa.page_obj.number }} of {{ wa.page_obj.paginator.num_pages }}
                                    </span>

                                    {% if wa.page_obj.has_next %}
                                        <a href="?page={{ wa.page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Viber</h4>
                                <p class="category">Devices in OFFLINE and LOST REGISTRATION statuses are displayed here</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Device ID</th>
                                    	<th>Phone</th>
                                    	<th>Clicker</th>
                                    	<th>BS</th>
                                        <th>Status</th>
                                    	<th>Email</th>
										<th>Company ID</th>
										<th>Partner ID</th>
                                    </thead>
                                    <tbody>
                                    {% for v in vib.object_list %}
                                    <tr class='table table-striped'>
                                        <td>{{ v.device_id }}</td>
                                        <td>{{ v.phone }}</td>
                                        <td>{{ v.key }}</td>
                                        <td>{{ v.equipment_code }}</td>
                                        <td>{{ v.stable_status }}</td>
                                        <td>{{ v.email }}</td>
                                        <td>{{ v.company_id }}</td>
                                        <td>{{ v.partner_id }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pagination pull-right">
                                <span class="step-links">
                                    {% if vib.page_obj.has_previous %}
                                        <a href="?page={{ vib.page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ vib.page_obj.number }} of {{ vib.page_obj.paginator.num_pages }}
                                    </span>

                                    {% if vib.page_obj.has_next %}
                                        <a href="?page={{ vib.page_obj.next_page_number }}">next</a>
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}